/* -----CSS FOR LOGIN PAGE----- */


input[type="submit"] {

    background-color: green; 
    color: white; 
    padding: 10px 20px; 
    border: solid; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s; 

}


h1 {

    text-align: center; 
    color: #000000; 
    margin-top: 0; 

}


body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;

}


form {

    width: 300px; 
    padding: 30px;
    border: 1px solid #000000;
    border-radius: 20px;

}


/* -----CSS FOR REGISTER PAGE----- */


#registration-heading {

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


#registration-form {

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

}

/* -----CSS FOR RESERVATION PAGE----- */

th {
    background-color: #4CAF50; 
    color: white; 
}


table {
    width: 100%;
    border-collapse: collapse;
    
}

table th, table td {
    border: 1px solid #ddd; 
    padding: 8px;
}


.box {
    
    margin: 10px;
    padding: 20px;
    background-color: #fff; 
    border: 1px solid #ddd; 
    
    
}

#reservation-heading {

    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
